.vistaProducto {
    border: solid ;
    border-color: darkslategrey;
    display: flex;
    justify-content: space-around;
 }
 
 
 .imgProducto{
     display: flex;
     position: relative;
     height: 600px;
     width: 500px;
     
 }
 
 .nombreProducto{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: x-large;
     font-weight: bolder;
     color: rgb(2, 2, 2);
     text-align: center;
  
 }
 
 .descripcionProducto{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: large;
     font-weight: bolder;
     color: rgb(2, 2, 2);
     text-align: center;
     display: block;
 }
 
 .precioProducto{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: xx-large;
     font-weight: bolder;
     color: rgb(2, 2, 2);
     text-align: center;
     display: block;
 }

 .buttonShop{
    display: flex;
justify-content: space-around;
 }
 