.iconCart{
    margin-left: 10px;
    display: flex;
    position: relative;
}
/* shownumbber{
    font-size: 12px;
    font: bolder;
    text-align: justify;
    z-index: 40;
    margin-top: 40%; 
    margin-left: 200%;

}
.icono{
    position: absolute;

} */
