header{
display: flex;
}
.logo {
width: 100px;
height: 100px;
}
h1{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(31, 2, 2);
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headerNav {
 display: flex;
 position: sticky;
 justify-content: space-between;
 background-image: url(../img/fondoHeader.jpg);

}
